{% extends 'base.html.twig' %}

{% block title %}AllCourses{% endblock %}

{% block body %}
    <main class="main-content">

        <div class="overlay overflow-hidden pe-n"><img src="assets/img/bg/bg_shape.png" alt="Background shape"></div>

        <!-- Start Content Area -->
        <div class="content-section text-light pt-8">
            <div class="container">
                <div class="row gutters-y">
                    <div class="col-12">
                        <header>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb-product breadcrumb-nowrap breadcrumb breadcrumb-angle bg-transparent pl-0 pr-0 mb-0">
                                    <li class="breadcrumb-item"><a href="#">All Games</a></li>
                                    <li class="breadcrumb-item"><a href="#">Action Games</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Explosive: Blast Definitive Edition</li>
                                </ol>
                            </nav>
                            <h3 class="product_name mb-4">Explosive: Blast Definitive Edition</h3>
                            <div class="d-flex flex-wrap align-items-center">
                                <div class="review d-flex">
                                    <div class="review_score">
                                        <div class="review_score-btn">9.7</div>
                                    </div>
                                    <div class="star_rating-se text-warning mr-7">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <ul class="tag-list d-none d-md-flex flex-wrap list-unstyled mb-0">
                                    <li class="tag-item"><a href="#" class="badge badge-warning fw-600">Twitch Streams</a></li>
                                    <li class="tag-item"><a href="#" class="badge badge-warning fw-600">Discussions</a></li>
                                    <li class="tag-item"><a href="#" class="text-unset release-date"><i class="far fa-clock text-warning mr-1"></i> OCT 18 2021</a></li>
                                </ul>
                            </div>
                        </header>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-body">
                                    <!--Carousel Wrapper-->
                                    <div class="carousel-product">
                                        <div class="slider text-secondary" data-slick="product-body">
                                            <img src="assets/img/content/product/01.jpg" alt="Game">
                                        </div>

                                    </div>
                                    <!--/.Carousel Wrapper-->
                                    <div class="alert alert-no-border alert-share d-flex mb-6" role="alert">
                                        <span class="flex-1 fw-600 text-uppercase text-warning">Share:</span>
                                        <div class="social-buttons text-unset">
                                            <a class="social-twitter mx-2" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="social-dribbble mx-2" href="#"><i class="fab fa-dribbble"></i></a>
                                            <a class="social-instagram ml-2" href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                    </div>
                                    <div id="about" class="about mb-8">
                                        <h6 class="mb-4 fw-400 ls-1 text-uppercase">About this game</h6>
                                        <hr class="border-secondary my-2">
                                        <div>
                                            <div class="collapse readmore" id="collapseSummary">
                                                <p>Sed placerat posuere sem ut luctus. Nunc nec odio luctus, eleifend enim nec, pretium arcu. Nam lobortis metus at ipsum dignissim, in consequat nunc laoreet. Suspendisse malesuada suscipit aliquet. Aliquam sit amet justo nibh. Phasellus tincidunt massa nec vestibulum accumsan. Proin eleifend dapibus tortor eu laoreet. In nunc mauris, elementum a magna id, porttitor sagittis mi. Integer velit quam, feugiat ac faucibus sed, vestibulum et massa. Fusce at lectus dui. Pellentesque pretium, velit non ornare ultrices, turpis metus pellentesque tellus, ac tincidunt risus massa non odio. Nullam posuere dignissim ligula, et dignissim odio porta vitae. Curabitur suscipit ultricies pulvinar. Sed ipsum nibh, dictum sit amet mi at, tempus commodo diam. Phasellus vitae nisi in urna rutrum eleifend et nec massa. Donec at mattis eros, ut pellentesque lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="system_requirements" class="mb-8">
                                        <h6 class="mb-4 fw-400 ls-1 text-uppercase">System Requirements</h6>
                                        <hr class="border-secondary my-2">
                                        <div>
                                            <ul class="sreq_nav nav nav-tabs-minimal text-center mb-4" role="tablist">
                                                <li class="nav-item">
                                                    <a class="py-2 px-7 nav-link active show" id="fillup-home-tab" data-toggle="tab" href="#fillup-1" role="tab" aria-controls="fillup-home-tab" aria-selected="true"><i class="fab fa-windows"></i> PC</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="py-2 px-7 nav-link" id="fillup-profile-tab" data-toggle="tab" href="#fillup-2" role="tab" aria-controls="fillup-profile-tab" aria-selected="false"><i class="fas fa-apple-alt"></i> MAC</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="fillupTabContent">
                                                <div class="tab-pane fade active show" id="fillup-1" role="tabpanel" aria-labelledby="fillup-home-tab">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-lg-6 mb-6 mb-lg-0">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <span class="d-inline-block text-uppercase fw-500 mb-3 text-info">Minimum Requirements:</span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">OS:</strong></div>
                                                                <div class="col-sm-8">Windows 7,Windows 8.1,Windows 10</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Processor:</strong></div>
                                                                <div class="col-sm-8">Intel Core i5-2400s @ 2.5 GHz or AMD FX-6350 @ 3.9 GHz</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Memory:</strong></div>
                                                                <div class="col-sm-8">6 GB RAM</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Graphics:</strong></div>
                                                                <div class="col-sm-8">NVIDIA GeForce GTX 660 or AMD R9 270 (2048 MB VRAM with Shader Model 5.0)</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Disk Space:</strong></div>
                                                                <div class="col-sm-8">42 GB available space</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Architecture:</strong></div>
                                                                <div class="col-sm-8">Requires a 64-bit processor and OS</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">API:</strong></div>
                                                                <div class="col-sm-8">DirectX 11</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Miscellaneous:</strong></div>
                                                                <div class="col-sm-8">Video Preset: Lowest (720p)</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-lg-6">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <span class="d-inline-block text-uppercase fw-500 mb-3 text-warning">Recommended Requirements:</span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">OS:</strong></div>
                                                                <div class="col-sm-8">Windows 7,Windows 8.1,Windows 10</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Processor:</strong></div>
                                                                <div class="col-sm-8">Intel Core i7- 3770 @ 3.5 GHz or AMD FX-8350 @ 4.0 GHz</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Memory:</strong></div>
                                                                <div class="col-sm-8">8 GB RAM</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Graphics:</strong></div>
                                                                <div class="col-sm-8">NVIDIA GeForce GTX 760 or AMD R9 280X (3GB VRAM with Shader Model 5.0 or better)</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Disk Space:</strong></div>
                                                                <div class="col-sm-8">42 GB available space</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Architecture:</strong></div>
                                                                <div class="col-sm-8">Requires a 64-bit processor and OS</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">API:</strong></div>
                                                                <div class="col-sm-8">DirectX 11</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Miscellaneous:</strong></div>
                                                                <div class="col-sm-8">Video Preset: High (1080p)</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="fillup-2" role="tabpanel" aria-labelledby="fillup-profile-tab">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-lg-6 mb-6 mb-lg-0">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <span class="d-inline-block text-uppercase fw-500 mb-3 text-info">Minimum Requirements:</span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">OS:</strong></div>
                                                                <div class="col-sm-8">OSX 10.5</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Processor:</strong></div>
                                                                <div class="col-sm-8">Intel Core i5-2400s @ 2.5 GHz or AMD FX-6350 @ 3.9 GHz</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Memory:</strong></div>
                                                                <div class="col-sm-8">6 GB RAM</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Graphics:</strong></div>
                                                                <div class="col-sm-8">NVIDIA GeForce GTX 660 or AMD R9 270 (2048 MB VRAM with Shader Model 5.0 or better)</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Disk Space:</strong></div>
                                                                <div class="col-sm-8">42 GB available space</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Architecture:</strong></div>
                                                                <div class="col-sm-8">Requires a 64-bit processor and OS</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">API:</strong></div>
                                                                <div class="col-sm-8">DirectX 11</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Miscellaneous:</strong></div>
                                                                <div class="col-sm-8">Video Preset: Lowest (720p)</div>
                                                            </div>

                                                        </div>
                                                        <div class="col-xs-12 col-lg-6">
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-12">
                                                                    <span class="d-inline-block text-uppercase fw-500 mb-3 text-warning">Recommended Requirements:</span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">OS:</strong></div>
                                                                <div class="col-sm-8">OSX 10.5</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Processor:</strong></div>
                                                                <div class="col-sm-8">Intel Core i7- 3770 @ 3.5 GHz or AMD FX-8350 @ 4.0 GHz</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Memory:</strong></div>
                                                                <div class="col-sm-8">8 GB RAM</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Graphics:</strong></div>
                                                                <div class="col-sm-8">NVIDIA GeForce GTX 760 or AMD R9 280X (3GB VRAM with Shader Model 5.0 or better)</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Disk Space:</strong></div>
                                                                <div class="col-sm-8">42 GB available space</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Architecture:</strong></div>
                                                                <div class="col-sm-8">Requires a 64-bit processor and OS</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">API:</strong></div>
                                                                <div class="col-sm-8">DirectX 11</div>
                                                            </div>
                                                            <div class="row mb-4 mb-sm-0">
                                                                <div class="col-sm-4"><strong class="fw-500">Miscellaneous:</strong></div>
                                                                <div class="col-sm-8">Video Preset: High (1080p)</div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-6">
                                        <h6 class="mb-0 fw-400 ls-1 text-uppercase">More like this</h6>
                                        <hr class="border-secondary my-2">
                                        <div>
                                            <div class="owl-carousel carousel_sm" data-carousel-items="1, 2, 3, 3" data-carousel-margin="10" data-carousel-nav="false" data-carousel-dots="true">
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg-c_01.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Akamen</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg-c_02.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Punk City</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg-c_03.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Transaction</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg_04.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Golden Mask</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg_05.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">ONI</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg_06.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Engineer</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-t ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg_07.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Informant</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg_08.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Haku</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="item">
                                                    <a href="#">
                                                        <div class="d-flex h-100 bs-c br-n bp-c ar-8_5 position-relative" style="background-image: url(assets/img/content/cont/cg-c_02.jpg);">
                                                            <div class="position-absolute w-100 l-0 b-0 bg-dark_A-80 text-light">
                                                                <div class="px-4 py-3 lh-1">
                                                                    <h6 class="mb-1 small-1 text-light text-uppercase">Punk City</h6>
                                                                    <div class="price d-flex flex-wrap align-items-center">
                                                                        <span class="discount_final text-warning small-2">€99.99</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-0">
                                        <div>
                                            <div>
                                                <p class="small">*Duis sit amet lectus pharetra, placerat ante et, varius urna. Praesent euismod lacinia lacus, at posuere quam vestibulum ut. Vivamus eu ligula at massa laoreet commodo. In consequat aliquet scelerisque. Proin dapibus velit quis suscipit interdum. Vestibulum eu sapien eget lorem volutpat dapibus molestie a metus. Proin in turpis a arcu luctus euismod. Sed vitae ante at leo bibendum blandit nec vel mauris. Ut laoreet bibendum lobortis.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="review-box content-section text-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-8">
                            <h6 class="mb-4 fw-400 ls-1 text-uppercase">Commentaires:</h6>
                            <hr class="border-secondary mt-2 mb-6">
                            <div class="row">
                                {% for c in comments %}
                                <!-- Item -->
                                <div class="col-12 mb-7">
                                    <div class="d-flex flex-wrap flex-sm-nowrap">
                                        <div><img src="assets/img/avatar/1.jpg" class="d-none d-sm-block avatar rounded" alt="Avatar"></div>
                                        <div class="review-item ml-sm-4">
                                            <div class="small d-flex align-items-start">
                                                <!-- user -->
                                                <span class="name text-lt badge badge-info fw-600 small-4">{{ c.user.prenom }} {{ c.user.nom }}</span>
                                                <!-- /.user -->
                                                <!-- time -->
                                                <div class="time ml-2">05/08/2021</div>
                                                <!-- /.time -->
                                            </div>
                                            <div>
                                                <div class="collapse readmore r-fade">
                                                    <p class="mb-0 small-3">{{ c.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- /.Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Content Area -->

    </main>

{% endblock %}