{% extends 'base.html.twig' %}

{% block title %}AllCourses{% endblock %}

{% block body %}
    <main class="main-content">

        <!-- Start Content Area -->
        <div class="content-section news-section carousel-spotlight ig-carousel text-light">
            <div class="container">
                <header class="header">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb-product breadcrumb-nowrap breadcrumb breadcrumb-angle bg-transparent pl-0 pr-0 mb-0">
                            <li class="breadcrumb-item"><a href="store.html">All Games</a></li>
                            <li class="breadcrumb-item"><a href="store.html">Action Games</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Vestibulum</li>
                        </ol>
                    </nav>
                    <h2>All News</h2>
                </header>
                <div class="position-relative">
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="color_sel_Carousel-content_02" class="tab-content position-relative w-100">
                                <!-- tab item -->
                                <div class="tab-pane fade active show" id="mp-2-01-c" role="tabpanel" aria-labelledby="mp-2-01-tab">
                                    <div class="row news-list">
                                        {% if news is not empty %}
                                        {% for n in news %}
                                        <!-- item -->
                                        <div class="news-item col-12 mb-4">
                                            <div class="row">
                                                <div class="col-lg-4 mb-5 mb-lg-0">
                                                    <div class="card">
                                                        <div>
                                                            <img src="assets/img/content/img_04.jpg" alt="News">
                                                            <div class="badges badges-left badges-top pl-2 pt-1 text-white">
                                                                <a class="badge badge-warning text-secondary fw-600" href="#">Exclusive</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="text-gray">
                                                        <h5 class="text-uppercase fw-600"><a href="/news/{{ n.id }}">{{ n.titre }}</a></h5>
                                                        <div class="small-3 mb-2">
                                                            <span class="mr-2"><i class="fas fa-calendar-alt mr-1"></i>{{ n.dateN|date('Y-m-d H:i:s') }}</span>
                                                            <a href="store-product.html" class="comments"><i class="fas fa-comment-alt mr-1"></i> <span>0</span> comments</a>
                                                        </div>
                                                        <p></p>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="d-flex align-items-center bg-dark_A-10 px-4 py-2">
                                                        <div class="text-uppercase small fw-600 mr-3">Share: </div>
                                                        <div class="social-buttons">
                                                            <a class="social-facebook mr-1" href="#"><i class="fab fa-facebook"></i></a>
                                                            <a class="social-twitter mr-1" href="#"><i class="fab fa-twitter"></i></a>
                                                            <a class="social-dribbble mr-1" href="#"><i class="fab fa-dribbble"></i></a>
                                                            <a class="social-instagram" href="#"><i class="fab fa-instagram"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.item -->
                                        {% endfor %}
                                        {% else %}
                                            <p>Pas de news trouver.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="rounded mb-4">
                                <form class="input-group border-0 input-transparent bg-transparent">
                                    <input class="form-control border border-secondary border-right-0" type="search" placeholder="Type something.." aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-warning text-secondary my-0 mx-0" type="submit"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="filters border border-secondary rounded p-4 mb-4">
                                <ul class="sidebar-nav-light-hover list-unstyled mb-0 text-unset small-3 fw-600">

                                    <li class="nav-item text-light transition mb-2 active">
                                        <a href="news.html" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                                            <span class="p-collapsing-title">All News</span>
                                        </a>
                                    </li>
                                    <li class="nav-item text-light transition mb-2">
                                        <a href="news.html" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                                            <span class="p-collapsing-title">Announcements</span>
                                        </a>
                                    </li>
                                    <li class="nav-item text-light transition mb-2">
                                        <a href="news.html" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                                            <span class="p-collapsing-title">Press Releases</span>
                                        </a>
                                    </li>
                                    <li class="nav-item text-light transition mb-2">
                                        <a href="news.html" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                                            <span class="p-collapsing-title">Product Releases</span>
                                        </a>
                                    </li>
                                    <li class="nav-item text-light transition mb-2">
                                        <a href="news.html" aria-expanded="false" class="nav-link py-2 px-3 text-uppercase nav-link-border">
                                            <span class="p-collapsing-title">Product Releases</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.End Content Area -->
    </main>
{% endblock %}