{% extends 'base.html.twig' %}

{% block title %}AllCourses{% endblock %}

{% block body %}
    <section class="content-section">
        <div class="container">
            <div class="row gutters-y">
                <div class="col-lg-12 text-light">
                    <div class="mb-6">
                        <div class="form-group">
                        {{ form_widget(form) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}