{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('rbt-modules1eb7.css')}}">
<link rel='stylesheet' id='overworld-edge-modules-css' href='{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}' type='text/css' media='all' />
<center>
<h2>FEEL<span style="color: #7228e2;"> FREE</span> TO ADD <span style="color: #7228e2;"></span><br />
    YOUR <span style="color: #7228e2;">GROUPE</span></h2>
</center>



</div>
    <div class="edgtf-eh-item-inner">
        <div class="edgtf-eh-item-content edgtf-eh-custom-5862" style="padding: 50px 0 130px 0">
            <div role="form" class="wpcf7" id="wpcf7-f505-p562-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                <form action="https://overworld.qodeinteractive.com/#wpcf7-f505-p562-o1" method="post" class="wpcf7-form init cf7_custom_style_1 demo" novalidate="novalidate" data-status="init">

                    <div class="edgtf-cf7-custom-form">
                        <div class="edgtf-custom-text-area"><span class="wpcf7-form-control-wrap" data-name="your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Description your groupe"></textarea></span></div>
                        <div class="edgtf-grid-row edgtf-grid-tiny-gutter">
                            <div class="edgtf-grid-col-6 edgtf-custom-text-input"><span class="wpcf7-form-control-wrap" data-name="your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder=" nom de groupe" /></span></div>
                            <div class="edgtf-grid-col-6 edgtf-custom-text-input"><span class="wpcf7-form-control-wrap" data-name="your-name"><input type="file" name="your-file" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span></div>

                            <div class="edgtf-grid-col-6 edgtf-custom-text-input"><span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Mail" /></span></div>
                        </div>
                        <div><button class="edgtf-btn edgtf-btn-outline edgtf-btn-huge wpcf7-form-control wpcf7-submit">SUBMIT MESSAGE</button></div>
                    </div><div class="wpcf7-response-output" aria-hidden="true"></div></form></div> </div>
    </div>
<div class="example-wrapper">


</div>
{% endblock %}
