{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('rbt-modules1eb7.css')}}">
<link rel='stylesheet' id='overworld-edge-modules-css' href='{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}' type='text/css' media='all' />


<header>


    <link rel='stylesheet' id='overworld-edge-modules-css' href='{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}' type='text/css' media='all' />

</header>


<body>
<h1 class="edgtf-st-title">
    <center> POST </center>
</h1>

{% endblock %}